body {
  margin: 0;
  background-color: #709efa;
  color: #f0f9ff;
  font-family: sans-serif;
}

.root {
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 0 auto 0 auto;
  max-width: 90%;
  color: #fa89be;
}

.header {
  background-color: #5b64e3;
}

header > nav > ul {
  display: flex;
}

nav {
  width: 15em;
  margin-left: 3em;
}

ul {
  padding: 0;
  justify-content: space-around;
  list-style: none;
}

article {
  width: 20em;
  background-color: #f0f9ff;
  color: #4a5568;
  border-radius: 0.5em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main,
footer {
  margin: 0 auto 0 auto;
  max-width: 85%;
}

button {
  background-color: #facf70;
  border: none;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
  background-color: #faea64;
}

article > h3 {
  margin-top: 0.5em;
}

article > button {
  margin-bottom: 0.5em;
}

.footer {
  background-color: #658ee0;
}

footer {
  flex-basis: 100%;
  color: #374e7a;
  text-align: center;
}
